* {
    margin: 0;
    padding: 0;
}
:root{
    --color-white: #fff;
    --color-bg: #F1F5F6;
    --color-shadow: #A1A4A5;
    --color-text: #4A4A4A;
    --color-text-variant: #7E7E7E;

    --color-adm: #2081C3;
    --color-user: #68AAAB;
    --color-viewer: #7E7E7E;
}

::-webkit-scrollbar{
  display: none;
}

body{
  font-family: 'Open Sans', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1rem;
}

h3{
  font-size: 1.5rem;
  font-weight: 500;
}

h4{
  font-size: .9rem;
  font-weight: 600;
}
h6{
  font-size: .75rem;
  font-weight: 600;
}

p{
  font-size: .75rem;
}